<div style="display: flex; justify-content: space-between">
    <mat-card><a routerLink="cars/:carBrand">First</a></mat-card><br /><br />
    <mat-card><a routerLink="second">Second</a></mat-card><br /><br />
    <mat-card><a routerLink="third">Third</a></mat-card><br /><br />
    <mat-card><a routerLink="fourth">Fourth</a></mat-card><br /><br />
</div>

<router-outlet></router-outlet>